@import "base.css";

body {
    background-color: var(--color-very-light-gray);
    color: var(--color-black);
}

main {
    height: 100%;
    width: 100%;
}

/* PAGE TOP */

.top-section {
    height: 20rem;
    background-image: url("/resources/images/background-image@2x.png");
    background-size: cover;
    background-position: center;
    color: white;
    padding-block-start: 2.5rem;
}

.top-section .text {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.top-section .text h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.top-section .text p {
    font-size: .65rem;
    background-color: var(--color-black-light);
    padding: 0.25rem .6rem;
    border-radius: 1rem;
}

/* CART AND FORM CONTAINER */

/* Cart */

.container {
    width: 90%;
    border-radius: 1rem;
    margin-top: -10rem;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    max-width: 1350px;
}

.container .cart {
    background-color: var(--color-muted-gray);
}

.container .cart .cart-items {
    gap: 1.5rem;
    border-bottom: 1px solid var(--color-light-gray);
    padding-bottom: 1.5rem;
}

.container .cart .cart-items .cart-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    height: 8rem;
}

.cart-item .item-image {
    object-fit: cover;
    border-radius: 1rem;
    background-color: var(--color-white);
    width: 7rem;
    height: 8rem;
}

.cart-item .item-image img {
    max-width: 5rem;
    max-height: 5rem;
}

.cart-item .item-info .product-name{
    font-size: 1.2rem;
}

.cart-item .item-info .item-color {
    font-size: 1rem;
    color: var(--color-charcoal);
}

.cart-item .item-price-remove .item-price {
    font-size: 1rem;
}

.cart-item .item-price-remove .remove {
    font-size: 1rem;
    color: var(--color-charcoal);
}

/* Coupon */

.container .coupon {
    margin-top: 1.5rem;
    gap: .5rem;
    --coupon-padding: .65rem;
    --coupon-padding-desktop: .85rem;
    --coupon-font-size: .85rem;
}

.container .coupon input{
    background-color: var(--color-white);
    padding: var(--coupon-padding);
    color: var(--color-charcoal);
    width: 55%;
    border-radius: .5rem;
    font-size: var(--coupon-font-size);
}

.container .coupon button {
    background-color: var(--color-black);
    border: 1px solid var(--color-black);
    color: var(--color-white);
    padding: var(--coupon-padding);
    border-radius: .5rem;
    font-size: 1rem;
    width: 45%;
    font-size: var(--coupon-font-size);
    transition: background-color .3s, color .3s;
}

.container .coupon button:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

.container .coupon button:focus-visible {
    outline: 2px solid rgb(145, 44, 44);
}

/* Total */

.container .cart .total {
    margin-top: 1rem;
}

.cart .total .subtotal,
.cart .total .tax
{
    color: var(--color-charcoal);
}

.cart .total .tax {
    margin: .5rem 0;
}

/* CONTACT INFO FORM */

.container .contact-info {
    background-color: var(--color-white);
}

.contact-info #form-title {
    font-size: .75rem;
    padding: 0;
}

.contact-info .form-groups {
    margin-top: 1.4rem;
    display: grid;
    gap: 1.4rem;
}

.contact-info .form-group {
    gap: .5rem;
}

.contact-info .form-group label {
    font-size: .875rem;
}

.contact-info .form-group select,
.contact-info .form-group input {
    background-color: var(--color-very-light-gray);
    color: var(--color-charcoal);
    border: 1px solid var(--color-light-gray);
    padding: .65rem;
    border-radius: .4rem;
    font-size: .875rem;
    font-weight: 600;
}

.contact-info .country-zip .country-wrapper {
    width: 40%;
}

.contact-info .country-zip .zip-wrapper {
    width: 42%;
}

.contact-info button[type="submit"] {
    margin-top: 2rem;
    background-color: var(--color-black);
    border: 1px solid var(--color-black);
    color: var(--color-white);
    font-size: 1rem;
    border-radius: .5rem;
    padding: .85rem 0;
    transition: background-color .3s, color .3s;
}

.contact-info button[type="submit"]:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

.contact-info button[type="submit"]:focus-visible {
    outline: 2px solid rgb(145, 44, 44);
}

/* Tablet */

@media screen and (min-width: 1024px) {
    .top-section {
        height: 18rem;
        background-image: url("/resources/images/background-image.png");
    }

    .top-section .text h1 {
        font-size: 2rem;
    }

    .top-section .text p {
        font-size: .75rem;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .container .cart {
        padding: 2rem;
    }


    .cart-item .item-info .product-name {
        font-size: 1.5rem;
    }

    .cart-item .item-info .item-color {
        font-size: 1.2rem;
    }

    .cart-item .item-price-remove .item-price {
        font-size: 1.2rem;
    }

    .cart-item .item-price-remove .remove {
        font-size: 1.2rem;
    }

    .container .coupon {
        margin-top: 2rem;
    }

    .container .coupon input {
        width: 60%;
        padding: var(--coupon-padding-desktop);
    }

    .container .coupon button {
        width: 40%;
    }

    .container .contact-info {
        padding: 2rem;
    }

    .contact-info .form-groups {
        margin-top: 2.5rem;
    }

    .contact-info .form-group {
        gap: 1rem;
    }

    .contact-info .form-group label {
        font-size: 1rem;
    }

    .contact-info .form-group select,
    .contact-info .form-group input {
        padding: .85rem;
        font-size: 1rem;
    }

    .contact-info .country-zip .country-wrapper {
        width: 45%;
    }

    .contact-info .country-zip .zip-wrapper {
        width: 45%;
    }

    .contact-info button[type="submit"] {
        margin-top: 2.5rem;
        padding: 1rem 0;
    }
}